html, body {
  height: 100%;
  font-size: 18px;
  font-family: "Noto", sans-serif;
  color: #212121;
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 830px;
  margin: 0 auto;
  border-top: none;
}

#silhouette_holder {
  margin: 10px 0 0 20px;
  width: 220px;
  height: 450px;
  float: left;
}

#parameters_holder {
    float: left;
}

#parameters {
  margin: 20px 20px 0 0;
  width: 510px;
  height: 500px;
  float: left;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 35px;
  padding: 40px 0 0;
}

.heading {
  font-size: 28px;
  padding: 20px 0 0;
}

#parameters .heading {
  font-size: 21px;
  padding: 0;
  float: left;
  height: 42px;
  line-height: 42px;
  width: 115px;
  margin: 14px 0;
  text-transform: uppercase;
  text-align: right;
}

.clothers_sizes {
  overflow: hidden;
}

.clothers_sizes ul li button {
  display: block;
  float: left;
  background: #cfc;
  padding: 0 20px;
  margin: 0 10px;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
}
.clothers_sizes ul li button:hover {
  background: #ABCFAB;
}

.selector_holder {
  overflow: hidden;
}

.selector_holder ul li button {
  display: block;
  float: left;
  background: #FF6F61;
  color: #fff;
  padding: 0;
  margin: 14px 0 14px 14px;
  height: 45px;
  line-height: 42px;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 14px;
  width: 84px;
}

.selector_holder ul li button:hover{
  background: rgba(255, 111, 97, 0.7);
  cursor: pointer;
}

.selector_holder ul li button.active {
  background: #616161;
}

.selector_holder ul li button.active:hover {
  background: rgba(97,97, 97, 0.7);
}

.erase_btn {
  padding: 50px 12px 0;
  text-align: right;
}

.erase_btn button {
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  background: #F44336;
  color: #fff;
  font-size: 18px;
  border: none;
}

.erase_btn button:hover {
  background: rgba(244, 67, 54, 0.7);
}

.pagenator {
  text-align: center;
  padding: 20px 0 0;
}

.footer {
  margin: 20px;
  text-align: right;
  font-size: 14px;
}

@media (max-width: 902px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 580px;
  }



  #parameters {
    width: 280px;

    .selector_holder {
      margin: 0 0 6px;
    }

    .heading {
      float: none;
      margin: 0;
      font-size: 18px;
      height: 24px;
      line-height: 24px;
    }
  }

  .selector_holder ul li button {
    margin: 6px 12px 6px 0;
    /*height: 24px;
    line-height: 24px;*/
    padding: 0 6px;
  }

  .erase_btn button {
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
  }
}

@media (max-width: 620px) {
  h1 {
    font-size: 36px;
    padding: 6px 0 0;
  }

  .heading {
    font-size: 21px;
    padding: 12px 0 0;
  }

  .container {
    width: auto;
  }

  #silhouette_holder,
  #parameters {
    float: none;
  }

  #silhouette_holder {
    margin: 0 auto;
    width: 180px;
  }
}

